.App {
  display: flex;
}
.App .container{
  flex-grow: 1;
  padding: 0 60px 60px 60px;
}

.App .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9; 
  background: white;
  opacity: 0;
}